################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/trainer/bin/Debug/net9.0-windows
/trainer/obj
